@model IEnumerable<ECommerce.Entities.Product>

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a href="@Url.Action("CreateProduct")" class="btn btn-primary">Create New Product</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Size</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td><img src="@product.ImagePath" alt="Alternate Text" style="width: 100px; height:100px;" /></td>
                <td>@product.Name</td>
                <td>@product.Price.ToString("C")</td>
                <td>@string.Join(", ", product.ShoppingCartItems?.Select(i => i.Size?.SizeName) ?? new List<string>())</td>
                <td>@product.Category.Name</td>
                <td>
                    <a href="@Url.Action("EditProduct", new { id = product.Id })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("DeleteProduct", new { id = product.Id })" class="btn btn-danger" >Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

